<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f777e8">  <td>18/11/16 12:55:09</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FirstTest.quickStartAndroidNativeDemo()[pri:0, instance:SampleAppium.Appium.FirstTest@4d41cee]">quickStartAndroidNativeDemo</td> 
  <td>main@1615056168</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>18/11/16 12:54:25</td>   <td>-44066</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FirstTest.setUp()[pri:0, instance:SampleAppium.Appium.FirstTest@4d41cee]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1615056168</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>18/11/16 12:58:23</td>   <td>193921</td> <td>&nbsp;</td><td title="&lt;&lt;FirstTest.tearDown()[pri:0, instance:SampleAppium.Appium.FirstTest@4d41cee]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1615056168</td>   <td></td> </tr>
</table>
